<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Docker Manager">
		<meta name="keywords" content="docker, Docker Manager, tursoft, Muhammet, Turşak">
		<meta name="author" content="Muhammet TURŞAK">
		
		<!-- PAGE TITLE -->
		<title>Docker Manager</title>
		<!-- BOOTSTRAP CSS -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<!-- ALL GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700&subset=latin-ext" rel="stylesheet">
		<!-- FONT AWESOME CSS -->
		<link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
		<!-- OWL CAROSEL CSS -->
		<link rel="stylesheet" href="assets/owlcarousel/css/owl.carousel.css">
		<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
		<!-- MAGNIFIC CSS -->
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<!-- ANIMATE CSS -->
		<link rel="stylesheet" href="assets/css/animate.min.css">
		<!-- MAIN STYLE CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
		<!-- RESPONSIVE CSS -->
		<link rel="stylesheet" href="assets/css/responsive.css">
	</head>

	<body>
		<!-- START PRELOADER AREA-->
		<div class="preloader-area">
			<div class="preloader">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>
		<!-- END PRELOADER AREA -->


		<%- body %>


		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<!-- LATEST JQUERY -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
		<!-- LOCAL COPY OF LATEST JQUERY -->
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<!-- BOOTSTRAP JS -->
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- OWL CAROUSEL JS  -->
		<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
		<!-- MIXITUP JS -->
		<script src="assets/js/jquery.mixitup.js"></script>
		<!-- PARALLAX JS -->
		<script src="assets/js/jquery.stellar.min.js"></script>
		<!-- PROGRESSBAR JS -->
		<script src="assets/js/jquery.appear.js"></script>
		<!-- MAGNIFICANT JS -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- YOUTUBE JS -->
		<script src="assets/js/jquery.mb.YTPlayer.min.js"></script>
		<script type="text/javascript">
			$('.player').mb_YTPlayer();
		</script>
		<!-- COUNTER UP JS -->
		<script src="assets/js/jquery.waypoints.min.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<!-- WOW JS -->
		<script src="assets/js/wow.min.js"></script>
		<!-- CONTACT FORM JS -->
		<script src="assets/js/form-contact.js"></script>
		<!-- SCRIPT JS -->
		<script src="assets/js/scripts.js"></script>
	</body>
</html>